@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');
.sidebar.icon{
    cursor: pointer;
}
.dimmed{
    filter: blur(1.5px) !important;
}


.ui.sidebar{
    width: 396px !important;
}
.ui.menu .item{
    font-family: 'Roboto', sans-serif !important;
    font-weight: 300 !important ;
}

.item{
    font-size: 22px;
}

a.item{
    width: max-content;
}

a.item:after {
    display:block;
    content: '';
    border-radius: 10px !important;
    border-bottom: solid 2px #C0A88C;  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
  }

a.item:hover{
    background-color: transparent !important;
}

a.item:after{ transform-origin: 100% 50%; }
a.item:hover:after{ transform: scaleX(1); transform-origin:   0% 50%; }

.content .item{
    padding-left: 0 !important;
}

#closeSidebar{
    cursor: pointer;
    opacity: 0.4;
    transition: opacity 500ms;
}

.sideBarLogo {
    
    margin-top: 15vh !important;
}

.sideBarLogo img{
    width: 150px;
}

#closeSidebar:hover{
    opacity: 1;
    transition: opacity 500ms;
}

@media (max-width: 768px) {
    .item{
        font-size: 18px;
    }
    .ui.sidebar{
        width: max-content !important;
    }

    #closeSidebar img{
        width: 20px;
    }

    .sideBarLogo img{
        width: 130px;
    }
}



.button {
    cursor: pointer;
}

.content {
  padding-left: 1.14286em;
  width: 100%;
  max-height: 0;
  transition: max-height 0.5s ease-in-out;
  font-size: 18pt;
  overflow: hidden;

}
#state:checked ~ .content {  
  max-height: 1000px;
  padding-left: 1.14286em;
}


.rotate {
    cursor: pointer;
    -moz-transition: all .5s linear;
    -webkit-transition: all .5s linear;
    transition: all .5s linear;
}
.rotate.down {
    -moz-transform:rotate(90deg);
    -webkit-transform:rotate(90deg);
    transform:rotate(90deg);
}