footer{
    background-color: #0A1B2B;
    color: #fff;
    font-weight: 300;
}

.footer > .row {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.footer > .row > .col a{
    font-size: 18px !important;
    padding: 10px 0;
    display: block;
}

.contactFooter{
    font-size: 15px !important;
}

.mobile-break{
    display: none;
}


.contactFooter a:hover{
    color: #C0A88C;
    transition: 0.2s linear;
}

.contactFooter a{
    transition: 0.2s linear;
}

/* .footer > .row > .col ul{
    
    list-style: none !important;
} */

/* .footer > .row > .col > ul li{
    margin: 10px 0;
} */


.footer > .row > .col a, a:visited, a:active{
    transition: 0.2s linear;
    line-height: 2rem;
    /* font-weight: bold; */
    color: #fff;
    /* font-size: 1.6rem; */
    text-decoration: none;
}

/* .footerLink a {
    font-size: 10px !important;
} */



.footer > .row > .col a:hover {
    color: #C0A88C;
}

.footerLogo{
    position: absolute;
    right: 20px;
    bottom: 10px;
}


@media (max-width: 768px) {

    .footerLogo img{
        width: 80px !important;
    }

    /* .footer > .row > .col ul{
        width: max-content;
        padding: 0 !important;
    } */
    .footer > .row > .col {
        padding: 5px;
    }
    .footer > .row {
        padding-top: 20px;
        padding-bottom: 0;
    }
    .footerLink{
        width: max-content;
    }

    .contactFooter{
        font-size: 12px !important;
    }
    .mobile-break{
        display: block;
    }
    
    /* .footerLink a{
        font-size: 12px !important;
    } */
    .footer > .row > .col a{
        line-height: 1.5;
        font-size: 12px !important;
        padding: 5px 0;
    }
}
