
section.darkened{
    background-color: #fbfbfb;
    background-size: cover;
}

section.smartCollection > div  a {
    color: white;
    text-decoration: none;
}
section.smartCollection > div  a:visited {
    color: white;
}
section.smartCollection > div  a:active {
    color: white;
}



.halfed p {
    text-indent: 20px;
}

.mainButton{
    border: 2px solid black;
    color: black !important;
}

section.smartCollection {
    background-color: black;
    color: white !important;
}

.orderButton{
    color: black;
    font-size: 24px;
    background-color: transparent;
    padding: 10px 50px 10px 50px;
    border: 2px solid black;
    transition: 0.18s linear; 
}

.bordered{
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.orderButton:hover {
    color: #C0A88C;
    border: 2px solid #C0A88C;
    transition: 0.18s linear; 
}


section.grided > .container > .wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 4fr 1fr;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
}

section.grided > .container > .wrapper > .row{
    padding: none !important;
}

.included{
    height: 100%;
    display: grid;
    grid-template-rows: 5fr 1fr;
}

.included div{
    align-self: center;
}

.included button{
    width: max-content;
    justify-self: center;
    align-self: start;
}

.orderBox{
    padding: 3rem;
}

section.grided> .container > .wrapper > .orderBox { 
    grid-column: 2/2;
    grid-row: 1/3;
}


section.grided > .container > .wrapper > div{
    background-color: #F5F5F7;
}

section.grided.grided_2 > .container > .wrapper{
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 4fr;
}


section.grided.grided_2> .container > .wrapper > .orderBox { 
    grid-column: 1;
}

section.grided.grided_3 > .container > .wrapper{
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 4fr;
}

section.grided.grided_4 > .container > .wrapper{
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 4fr 1fr !important;
}

section.grided.grided_4> .container > .wrapper > .orderBox { 
    grid-column: 1;
}

.splide {
    height: max-content;
}

.splide__slide > img {
    width: 80%;
}

.splide__pagination{
    bottom: 30px !important;
}

button.splide__arrow{
    display: none !important;
}

@media (max-width: 768px) {


    .wrapper > .d-flex{
        /* padding: 20px !important; */
        font-size: 18px;
    }

    .included > .orderButton{
        display: none;
    }

    .bordered{
        border-width: 10% !important;
        border-left: none;
        border-right: none;
    }

    .bordered > div {
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        width: 90%;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    /* .included > .text-center{
        padding: 0 !important;
    }
    
    section.grided > .container > .wrapper > .d-flex > .text-center{
        padding: 20px !important;
    }

    section.grided.grided_3 > .container > .wrapper > .d-flex > .text-center{
        padding: 20px !important;
    }

  

    section.grided.grided_3 > .container > .wrapper > .d-flex {
        padding: 20px !important;
    }

    section.grided.grided_4 > .container > .wrapper > .d-flex > .text-center{
        padding: 20px !important;
    }

    section.grided.grided_4 > .container > .wrapper > .d-flex {
        padding: 0 !important;
    } */


    .imgGrid {
        padding: 0 !important;
    }


    section.grided > .container > .wrapper {
        display: grid;
        grid-template-columns: 100% !important;
        grid-template-rows: 150px 200px 200px!important;
        grid-column-gap: 1em;
        grid-row-gap: 1em;
    }

    section.grided.grided_4 > .container > .wrapper {
        display: grid;
        grid-template-columns: 100% !important;
        grid-template-rows: minmax(200px, 250px)!important;
        grid-column-gap: 1em;
        grid-row-gap: 1em;
    }

    section.grided.grided_3 > .container > .wrapper {
        display: grid;
        grid-template-columns: 100% !important;
        grid-template-rows: minmax(200px, 250px) !important;
        grid-column-gap: 1em;
        grid-row-gap: 1em;
    }

    section.grided> .container > .wrapper > .included { 
        grid-column: 1/1;
        grid-row: 1/3 !important;
    }

    section.grided> .container > .wrapper > .imgGrid { 
        grid-column: 1/1;
        grid-row: 2/3 !important;
    }


    section.grided> .container > .wrapper > .orderBox { 
        grid-column: 1/1;
        grid-row: 3/3;
    }

    


    

    .splide__slide > img {
        width: 100%;
    }

    .splide__pagination{
        bottom: 10px !important;
    }
}


