@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
html {
	scroll-behavior: smooth !important;
  }
body {
	font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
body.pushable>.pusher,
body.pushable {
	background-color: #FBFBFB !important;
}
footer > div  a {
    color: white;
    text-decoration: none;
}
footer > div  a:visited {
    color: white;
}
footer > div  a:active {
    color: white;
}
img:not(#openSideBar) { pointer-events: none; }
.ui.accordion  a {
	cursor: pointer;
    color: rgba(0,0,0,.87);
    text-decoration: none;
}
.ui.accordion   a:visited {
    color: rgba(0,0,0,.87);
}
.ui.accordion  a:active {
    color: rgba(0,0,0,.87);
}
.ui {
   font-family: 'Roboto' !important;
}
.ui.button {
	border-radius: 0 !important;
}

.ui.sidebar::-webkit-scrollbar {
	display: none !important;
  }


.ui.form input,
.ui.form textarea {
	border-radius: 0 !important;
	border-color: #C0A88C !important;
}





.ui.form textarea {
	resize: none;
}

.dimmable.dimmed{
    filter: none !important;
}

#video_section {
	position: relative;
	max-height: 780px;
    overflow: hidden;
    margin-top: 64px;
}
#video_section video {
	position: relative;
	z-index: 1;
    clip-path: inset(-1px);
    -webkit-box-sizing: unset;
    -moz-box-sizing: unset;
    box-sizing: unset;
}
#video_section button.project_disc {
	z-index: 3;
    position: absolute;
    right: 1%;
    top: 4%;
    background: #C0A88C;
    -webkit-box-shadow: 0 0 0 3px #C0A88C inset !important;
    box-shadow: 0 0 0 3px #C0A88C inset !important;
    font-size: 21px;
    font-weight: normal;
}
#video_section button.project_disc:focus {
	color: #fff;
}
#video_section button.project_disc:hover {
	background: transparent;
	color: #C0A88C !important;
}
.section {
	padding: 65px 0;
}
.section-title {
	padding-bottom: 25px;
}
.section-title .header {
 	/*text-transform: uppercase !important;*/
 	font-weight: 300 !important;
}
.section-desc p {
	font-size: 18px;
}
.services {
	padding: 25px;
	overflow-x: scroll;
	overflow-y: hidden;
	white-space: nowrap;
}
.services::-webkit-scrollbar {
	-webkit-appearance: none;
	height: 5px;
	width: 100%;
}
.services::-webkit-scrollbar-track {
	margin: 0 200px;
	border-radius: 0;
	background: #979797;
}
.services::-webkit-scrollbar-thumb {
	border-radius: 0;
	background-color: #0A1B2B !important;
}
.services .service_block {
	display: inline-block;
	padding-bottom: 70px;
	vertical-align: top;
}
.services .service_block img {
	margin: 0 auto;
	max-height: 168px;
}
.services .service_block p {
	font-size: 18px;
    text-align: center;
    font-weight: bold;
    width: 90%;
    white-space: normal;
    margin: 0 auto;
}
.services .service_block.all_services {
	width: 260px;
    height: 155px;
	padding: 15px 35px;
}
.services .service_block.all_services .text {
	width: 100%;
    height: 100%;
    background: #0A1B2B;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-transition: background .4s, color .4s;
    transition: background .4s, color .4s;
}
.services .service_block.all_services a {
	text-decoration: none;
}
.services .service_block.all_services .text span {
    font-size: 24px;
    text-transform: uppercase;
}
.services .service_block.all_services .text:hover {
	background: #fff;
	color: #000;
	border: solid 3px #0A1B2B;
}
#running_line {
	background: #fff;
	margin: 50px 0;	
	user-select: none;
}
#running_line .partner {
    display: inline-block;
	vertical-align: middle;
    padding: 0 70px;
}
#running_line .partner .ui.small.image {
	width: 170px;
}
.advantages .advantage {
	margin: 100px 0;
}
.advantages .advantage:first-child {
	margin-top: 55px;
}
.advantages .advantage span.advantage_desc {
	font-size: 18px;
    text-align: justify;
    display: inline-block;
}
#future_step {
	background: url("./../media/img/bg.webp") no-repeat;
	background-size: cover;
    padding: 160px 0;
    margin: 0 !important;
    background-position: center;
}
#future_step .header {
	color: #fff;
	margin-bottom: 30px;
	font-weight: 500;
}
#future_step button:hover {
	background-color: transparent;
	color: #000;
	-webkit-box-shadow: 0 0 0 2px #000 inset !important;
    box-shadow: 0 0 0 2px #000 inset !important;
}
#clients_com .grid {
	margin: 100px 0;
}
#clients_com .grid:first-child {
	margin-top: 50px;
}
#clients_com .grid .column.title {
	font-size: 18px;
}
#clients_com .grid .column.title .header {
	/*text-transform: uppercase;*/
	font-weight: 300;
}
#clients_com .grid .column.title p {
	text-align: justify;
}
#clients_com a {
	-webkit-box-shadow: 0 0 0 2px #000 inset!important;
    box-shadow: 0 0 0 2px #000 inset!important;
}
#clients_com a:hover, 
#feedback .form button[type="submit"]:hover {
	color: #C0A88C !important;
	-webkit-box-shadow: 0 0 0 2px #C0A88C inset!important;
    box-shadow: 0 0 0 2px #C0A88C inset!important;
}
#feedback {
	background: #fff;
	margin: 0 !important;
}
#feedback .form {
	margin-top: 60px;
} 
#feedback .form .column.grid .column:nth-child(2) {
	max-height: 208.75px;
}
#feedback .form .column.grid .column:nth-child(2) .field,
#feedback .form .column.grid .column:nth-child(2) .field textarea {
	height: 100%;
}
#feedback .form .column.grid .column:nth-child(2) .field textarea {
	padding-bottom: 40px;
}
#feedback .form .column.grid .column:nth-child(2) .field {
	position: relative;
}
#feedback .form .column.grid .column:nth-child(2) .field .attachment {
	position: absolute;
    bottom: 0;
    left: 0;
    right: 11px;
    height: 40px;
    background-color: #fff;
    margin: 1px;
    display: flex;
    align-items: center;
    padding: 0 7px;
}
#feedback .form .column.grid .column:nth-child(2) .field .attachment svg {
	transition: fill 0.2s;
}
#feedback .form .column.grid .column:nth-child(2) .field .attachment svg:hover {
	cursor: pointer;
	fill: #000;
}
#feedback .form button[type="submit"] {
	width: 100%;
}
#feedback .agreement a {
	color: inherit;
}
#feedback .form .column.grid .column:nth-child(2) .field .attachment .attachment_files {
	display: inline-flex;
	padding-left: 20px;
}
#feedback .form .column.grid .column:nth-child(2) .field .attachment .attachment_files .a_file {
	padding: 0 10px;
	cursor: pointer;
}
#feedback .form .column.grid .column:nth-child(2) .field .attachment .attachment_files .a_file .file_title {
    font-size: 17px;
    position: relative;
    max-width: 170px;
    overflow: hidden;
    display: inline-flex;
    white-space: nowrap;
    transform: translate3d(0, 0, 0);
    margin-left: 3px;
}
#feedback .form .column.grid .column:nth-child(2) .field .attachment .attachment_files .a_file .file_title b {
	font-weight: 400;
}
#feedback .form .column.grid .column:nth-child(2) .field .attachment .attachment_files .a_file:hover .file_title b.overflowed {
    animation: moveSlideshow 4s linear;
}
/*#feedback .form .column.grid .column:nth-child(2) .field .attachment .attachment_files .a_file .file_title:after {
	content: '';
    position: absolute;
    right: 0; top: 0; 
    width: 20px; 
    height: 100%;
    background: -moz-linear-gradient(left, rgb(255 255 255 / 20%), #fff 100%);
    background: -webkit-linear-gradient(left, rgb(255 255 255 / 20%), #fff 100%);
    background: -o-linear-gradient(left, rgb(255 255 255 / 20%), #fff 100%);
    background: -ms-linear-gradient(left, rgb(255 255 255 / 20%), #fff 100%);
    background: linear-gradient(to right, rgb(255 255 255 / 20%), #fff 100%);
}*/

@keyframes moveSlideshow {
  100% {
    transform: translateX(-100%);
  }
}

#steps_bg_section {
    max-height: 660px;
    overflow: hidden;
    margin-top: 63px;
    background: #fff;
}
#steps_blocks .header {
	font-weight: 400;
}
#steps_blocks .advantage_desc {
	text-indent: 30px;
}
.modal-body{
	font-family: 'Roboto', sans-serif !important;
}

.modal-content{
	border-radius: 0 !important;
}

.modal-body input{
	border-radius: 0 !important;
	border: 1px solid black;
	padding: 10px;
	font-size: 1.5rem !important;
	width: 100%;
}

.modal-open{
	overflow: auto !important;
}

#social {
	padding: 40px 0 60px;
}

#orderService input:focus,
#orderService input:active {
	outline: none;
}

#static a {
	color: #0d6efd;
}
#static p {
	font-size: 18px;
	text-align: justify;
}
#static .col-sm-12 {
	padding: 100px 0 60px;
}


/* MEDIA*/
@media screen and (min-width:1400px) {
	#video_section .video_overlay {
		bottom: 0;
	}
}
@media screen and (min-width:1450px) {
	#video_section video {
		top: -15px;
	}
}
@media screen and (min-width:1520px) {
	#video_section video {
		top: -60px;
	}
}
@media screen and (min-width:1670px) {
	#video_section video {
		top: -100px;
	}
}
@media screen and (min-width:1700px) {
	#video_section video {
		top: -150px;
	}
}
@media screen and (max-width:1320px) {
	.services::-webkit-scrollbar-track {
		margin: 0 150px;
	}
}
@media screen and (max-width:1199px) {
	#feedback .form .attachment .attachment_files .a_file .file_title {
		max-width: 87px !important;
	}
}
@media screen and (max-width:767px) {
	#feedback .container:first-child,
	.container.advantages {
		margin: 0 !important;
		padding: 0 !important;
	}
	.services::-webkit-scrollbar-track {
		margin: 0 80px;
	}
	.section {
	    padding: 30px 0;
	}
	.advantages .advantage {
		margin: 50px 0;
	}
	.advantages .advantage span.advantage_desc{
		text-align: center;
    	display: block;
    	font-weight: 300;
		text-align: justify;
	}
	.advantages .advantage svg {
		width: 30%;
	}
	#clients_com .grid .column.title p {
		font-weight: 300;
	}
	.services .service_block img {
		width: 200px !important;
	}
	#clients_com .grid .title {
		font-size: 18px !important;
	}
	.services .service_block p {
		font-weight: 300;
	}
	#clients_com .grid {
	    margin: 50px 0;
	}
	#clients_com .grid:first-child {
	    margin-top: 0px;
	}
	#clients_com .grid:nth-child(2) {
		flex-direction: column-reverse;
	}
	.section-title {
		font-size: 18px !important;
	}
	#running_line {
		margin: 25px 0 !important;
	}
	.services .service_block {
		padding-bottom: 0px !important;
	}
	.section-desc p {
		font-weight: 300;
		text-align: justify;
	}
	#social svg {
		width: 45px;
	}
	#social .mt-5 {
		margin-top: 0 !important;
	}
	.section-title {
		font-size: 16px !important;
	}
	.header_top {
		height: 57px !important;
	}
	#video_section {
		margin-top: 57px !important;
	}
	#running_line .partner {
		padding: 0 12px;
	}
	#running_line .partner .ui.small.image {
	    width: 100px;
	}
	#clients_com {
		margin-top: 20px;
	}
	#clients_com #ethics {
	    color: #000;
	}
	#clients_com .grid .column.title .header {
		font-size: 1.7em;
	}
	#feedback .form .attachment .attachment_files .a_file .file_title {
		max-width: 170px !important;
	}
	#exampleModal {
		padding-right: 0 !important;
	}
	.services .service_block.all_services {
		width: 215px;
	    height: 110px;
	    padding: 10px 35px;
	}
	.services .service_block.all_services .text span {
		font-size: 18px;
	}
	#static .col-sm-12 {
		padding: 85px 15px 35px;
	}
}
@media screen and (max-width:555px) {
	#feedback .form .attachment .attachment_files .a_file .file_title {
		max-width: 130px !important;
	}
}
@media screen and (max-width:500px) {
	.services::-webkit-scrollbar-track {
		margin: 0 40px;
	}
}
@media screen and (max-width:470px) {
	#feedback .form .attachment .attachment_files .a_file .file_title {
		max-width: 90px !important;
	}
}


@media (max-width: 768px) {
   button.project_disc{
	   font-size: 15px !important;
	   padding: 10px !important;
   }
}

