<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Visce</title>
    <link rel="stylesheet" href="./assets/css/header.css">
    <link rel="stylesheet" href="./assets/css/sidebar.css">
    <link rel="stylesheet" href="./assets/css/glob.css">
    <link rel="stylesheet" href="./assets/css/styles.css">
    <link rel="stylesheet" href="./assets/css/footer.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
</head>

<body>


<!-- SIDEBAR START -->
    <div class="ui sidebar vertical menu borderless fs-2">
        <div class="p-3 text-end" id="closeSidebar" onclick="closeSidebar()">
            <img src="./assets/media/cross.svg" alt="">
        </div>
        <a class="item">
          О нас
        </a>

            <div class="ui accordion item">
                <a class="title item p-0">
                     Услуги <i class="dropdown icon"></i>
                </a>
                <div class="content text-uppercase">
                    <a class="item" href="index.html">Автоматизация бизнес процессов</a>
                    <a class="item" href="index.html">CRM/ERP/HRM</a>
                    <a class="item" href="index.html">базы данных</a>
                    <a class="item" href="index.html">Разработка сайта</a>
                    <a class="item" href="index.html">Сопровождение</a>
                    <a class="item" href="index.html">Облачнные решения</a>
                    <a class="item" href="index.html">мобильные приложений</a>
                    <a class="item" href="index.html">Умные часы</a>
                    <a class="item" href="index.html">шлюзы api</a>
                    <a class="item" href="index.html">Искусственный интеллект</a>
                    <a class="item" href="index.html">Saas проекты</a>
                    <a class="item" href="index.html">Веб сайты</a>
                    <a class="item" href="index.html">Сопровождение</a>
                    <a class="item" href="index.html">Smart collection</a>

                </div>
            </div>
        
        <a class="item">
          Клиенты
        </a>
        <a class="item">
            Преимущества
          </a>
          <a class="item">
            Проффесиональная этика
          </a>
          <a class="item">
            Этапы разработки
          </a>
          <a class="item">
            Оставить заявку
          </a>
          <a class="item">
            Контакты
          </a>

          <div href="#" class="text-center mt-5">
            <a href="item">
                <img src="./assets/media/Visce.svg" >
            </a>
          </div>
      </div>
<!-- SIDEBAR END -->

<!-- HEADER START -->
        <div class="pusher">
            
            <nav class="header_top p-3 p-md-4 text-center">      
                
                    <a href="#" class="logo">
                        <img src="./assets/media/Visce.svg" >
                    </a>
                    
                    <div class="openSideBarWrapper">
                        <img class="sidebar icon" id="openSideBar"src="https://img.icons8.com/ios-filled/50/000000/menu-rounded.png"/>
                    </div>


                    <div class="contact d-none d-md-flex align-items-middle">       
                        <div class="wrap fs-2">
                            <div class="visib">Contact us</div>
                            <div class="invis">+7(953)-448-12-01</div>
                        </div>
                                
                        <img class="p-4 p-xl-5 pt-0 pb-0 pt-xl-0 pb-xl-0" src="./assets/media/sep.svg" alt="">

                        <div class="wrap">
                            <img class="visib" src="./assets/media/earth.svg" alt="">
                            <img class=" invis" src="./assets/media/darkEarth.svg" alt="">
                        </div>           
                    </div>
            </nav>


            <div class="container p-5">
                
            </div>      
        </div>
<!-- HEADER END  -->






<footer>
    <div class="footer container">
        <div class="row fs-1">
            <div class="col-md">
                <ul>
                    <li class="footerLink"><a href="" >О компании</a></li>
                    <li class="footerLink"><a href="" >Услуги</a></li>
                    <li class="footerLink"><a href="" >Клиенты</a></li>
                </ul> 
            </div>
            <div class="col-md">
                <ul>
                    <li class="footerLink"><a href="" >Разработка</a></li>
                    <li class="footerLink"><a href="" >SmartCollection</a></li>
                    <li class="footerLink"><a href="" >Контакты</a></li>
                </ul>  
            </div>
            <div class="col-md">
                <ul>
                    <li class="footerLink"><a href="" >Работа</a></li>
                    <li class="footerLink"><a href="" >Файлы Cookie</a></li>
                    <li class="footerLink"><a href="" >Политика конфиденциальности</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="pb-4 row fs-4" style="position: relative;">

        <div class="col p-4 pb-0 d-flex justify-content-center align-items-end align-self-end">
            <div class="text-center p-3">
                Moscow <br/> Grodninskaya 6/1
            </div>
            <a href="tel:+78002227766" class="p-3">8(800) 222-77-66</a>
            </div>
        <div class="col text-center align-self-end p-3">
                info@visce.ru <br/>
                2022 Visce   
        </div>
        <div class="col align-self-end">
            <div class="footerLogo text-end p-3 ">
                <img src="./assets/media/VisceLight.svg" alt="">
            </div>
        </div>    
    </div>

</footer>

       
    
<script>
    $(document).ready(function(){
       $('.ui.accordion').accordion();
    });
</script>




<script>
    var header = $('.header_top'),
		scrollPrev = 0;
    var sideBar = $('.ui.sidebar')

    $(window).scroll(function() {
        var scrolled = $(window).scrollTop();
    
        if ( scrolled > 100 && scrolled > scrollPrev ) {
            header.addClass('out');
            sideBar.sidebar('hide')
        } else {
            header.removeClass('out');
            sideBar.sidebar('hide')
        }
        scrollPrev = scrolled;
    });
</script>





<script>
    $('.ui.sidebar')
    .sidebar('setting', 'transition', 'overlay')
    .sidebar('setting', 'mobileTransition', 'overlay')
    .sidebar('attach events', '#openSideBar')
    .sidebar('attach events', '#closeSidebar');
</script>

</body>
</html>